* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}
body {
  background-color: black;
  color: white;
}
.hamburger{
  display: none;
}
.container {
  gap: 0.2rem;
  height: 85vh;
}
.left-section {
  width: 38vw;
  height: 85vh;
}
.left-section .top {
  background-color: #121212;
  border-radius: 1rem;
  margin: 0.3em;
}
.left-section .bottom {
  background-color: #121212;
  border-radius: 1rem;
  /* height: 76vh; */
  margin: 0.4em;
  height: 71vh;
  overflow: auto;
  
}
.right-section {
  background-color: #121212;
  width: 80vw;
  border-radius: 1rem;
  margin-top: 0.3em;
  margin-right: 0.3em;
}
.home {
  padding: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.home ul li {
  gap: 1rem;
  width: 1.3rem;
  margin-left: 1rem;
}
.home ul li a {
  text-decoration: none;
  color: white;
}
.home ul li a:hover {
  text-decoration: underline;
}
.library img{
  width: 17px;
}
.heading{
  gap: .5rem;
  margin:.7rem 1rem;
  color:rgb(179, 179, 179)
}
.icons{
  margin: 0.4rem 2px;
  gap: .8rem;
}
.nav{
  justify-content: space-between;
}
.arrow img{
  background-color: white;
  border-radius: 4rem;
  padding: .4rem;
}
.cardContainer{
  gap: 3px;
  flex-wrap: wrap;
  max-height: 63vh;
  overflow-y: auto;
  
}
.card{
  position: relative;
  padding: 10px;
  width: 150px;
  border-radius: .5rem;
  margin-top: 11px;
  margin-left: 8px;
}
.play{
  position: absolute;
  top: 108px;
  left: 107px;
}
.card:hover{
  background-color: #2a2a2a;
}
.card img{
  width: 100%;
  object-fit: contain;
  border-radius: .5rem;
}
.card p{
  color: rgb(103, 101, 101);
}
.signup-btn{
  background-color: #121212;
  color: rgb(186, 183, 183);
  font-weight: bold;
  border: none;
  cursor: pointer;
  padding: 10px 19px;
  
}
.signup-btn:hover{
  color: white;
}
.login-btn{
  background-color: white;
  border-radius: 1rem;
  padding: 10px 25px;
  font-size: 16px;
  border: none;
  font-weight: bold;
  color: #3d3d3d;
}

.login-btn:hover{
  color: black;
}
.playbar{
  position: fixed;
  width: 96%;
  background-color: rgb(10, 10, 10);
  padding-left: 1.2rem;
  padding-top: 0.2rem;
  padding-right: 1.2rem;
  bottom: 1px;
  
}
.song-list{
  /* border: 2px solid red; */
  padding: 0 1.5rem;
  list-style-type: decimal;
}
.song-list ol li{
  padding: .5rem;
  justify-content: space-between;
  margin: .4rem;
  border-radius: .3rem;
}
.song-list ol li:hover{
  background-color: #232323;
}
.song-list ol li img{
  padding: .5rem;
}
.song-info{
  width: 371px;
  height: 98px;
  word-break: break-all;
}
.song-buttons{
  width: 36%;
  cursor: pointer;
}
.song-buttons .flex{
  gap: 10px;
  
}
.seekbar{
  width: 94%;
  height: 6px;
  margin: .5rem;
  background-color: white;
  border-radius: 8px;
}
.circle{
  position: relative;
  background-color: white;
  border-radius: 10px;
  width: 21px;
  height: 21px;
  bottom: 9px;
  left: 0%;
  transition: left 0.5s;
}
.volume{
  width: 20%;
  height: 4px;
  margin: .5rem;
  background-color: white;
  border-radius: 8px;
}
.close{
  display: none;
}
.song-name{
  word-break: break-all;
}
/* #total-time{
  position: relative;
  left: 600px;
  bottom: 25px;
} */

@media (max-width: 932px) {
  *{
    font-size: 16px;
  }
  .left-section {
    background-color: black;
    position: absolute;
    left: -200%;
    z-index: 1;
    height: 89vh;
    width: 380px;
    transition: all 0.5s;
  }
  .left-section .bottom{
    height: 77vh;
  }
  .right-section{
    width: 100vw;
  }
  .hamburger{
    display: block;
    height: 1.5rem;
    width: 1.7rem;
    background-color: white;
    padding: .5rem;
    border-radius: 4rem;
    margin-top: 0.6rem;
    margin-left: 0.4rem;
  }
  .close{
    display: block;
    position: absolute;
    right: 28px;
    top: 22px;
  }
  .playbar{
    padding-left: 0.2rem;
  }
  .song-info{
    width: 148px;
  }
  .cardContainer{
    justify-content: center;
    max-height: 68vh;
    gap: 10px;
  }
  .card{
    width: 80vw;
  }
  .right-section{
    height: 100vh;
  }
  .spotify-playlist{
    height: 100vh;
  }
  .playbar{
    position: absolute;
  }
  /* .buttons button{
    display: none;
  } */
  .login-btn{
    padding: 7px 18px;
  }
  .signup-btn{
    padding: 8px 12px;
  }

  
}
  
